* {
    margin: 0px;
    padding: 0;
}

/* header stytels */
.header-title {
    color: #151414;
    padding-top: 216px;
    padding-left: 840px;
    padding-right: 230px;

}

.description {
    color: #444343;
    position: absolute;
    padding-top: 50px;
    padding-left: 876px;
    padding-right: 230px;
}

.header-img {
    background-image: url('images/banner/banner2.png');
    width: 1600px;
    height: 809px;
}

.btn-primary {
    margin-left: 1180px;
    margin-right: 160px;
    margin-top: 126px;
    padding: 15px;
    border-radius: 5px;
    color: white;
    background-color: orangered;
    border: none;
}

/* failure styles */
.failures {
    margin-left: 260px;
    margin-right: 322px;
    padding-top: 100px;
    display: flex;
    gap: 87px;
}

.img-description {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 24px;
}

.failures-description {
    font-size: 16px;
    font-weight: 400;
    padding-top: 16px;

}

.img {
    padding-bottom: 10px;
}

/* my plans styles */
.plans {
    padding-top: 100px;
}

.plans-title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: center;
    margin-left: 260px;
    margin-right: 322px;
    padding-bottom: 100px;

}

.icon-img {
    padding-top: 100px;
    padding-right: 80px;
}

/* gradiant styles */
.gradiant {
    margin-left: 230px;
    margin-right: 23px;
    padding-bottom: 150px;

}

.img-heading {
    text-align: center;
}

/* footer styles */
footer {
    display: flex;
    width: 1600px;
    height: 577px;
    background: #151414;
    gap: 770px;
    padding-top: 117px;
    padding-left: 225px;
    padding-right: 225px;
}

footer img {
    padding: 10px;
}